<script>
var pusher = new Pusher.key;
var channel = pusher.subscribe("Andrew-channel");

channel.bind("new_greeting", function(data) {
   alert('An event was triggered with message: ' + data.message);
    });


</script>

<h3>Hey <%=current_user.email %>! See all your yo's here</h3>
<%= render "form" %>
<div>
  <h3>This is what your peeps have to say</h3>
  <ul>
    <%= render @greetings %> 
  </ul>
</div>
